/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}
img{
    max-width: 100%;
    display: block;
}
.m2rem{
    margin: 2rem 0;
}
.m1rem{
    margin: 1rem 0;
}

/* HEADER-TOP */
.header-top{
    height: 70px;
    background-color:rgb(61, 119, 200) ;
    line-height: 70px;
    color: white;
}
.container.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav img{
    vertical-align: middle;
}
.nav button{
    border: none;
}
.nav i{
    color: white;
    background-color:#0084FD ;
    
}
.nav-ul{
    /* display: flex; */
    list-style-type: none;
    display: none;
}
.nav-ul a{
    text-decoration: none;
    color: inherit;
    margin-left: 1rem;
}
.nav .button{background-color:#FFFFFF;
    padding: .5em 1em;
    border-radius: 30px;
    color: black;
    
}
.header-bottom h2,i{
    color: #0084FD;
}
@media screen and (min-width:992px)
{
    .container.nav{
        display: flex;
        width: 70%;
        justify-content: space-between;
        margin: 0 auto;
    }
    .nav-ul{
        display:flex;
    }
    .header-nav button{
        display: none;
    }
}
/* HEADER-BOTTOM */
.container.application{
    padding: 3rem 0;
}
.card-large{
    height: 100%;
}
.col-application .card{
    text-align: center;
    background-color:#B5DDFF;
    border-radius: 20px;
    padding: 1.5em;
    padding-bottom: 0;
    height: 100%;
}
.apple{
    display: inline-block;
    background-color: #0084FD;
    padding: .5em 3em;
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
   
}
.apple i{
    color: white;
    font-size: 1.5rem;
    margin-right: .5rem;
    vertical-align: middle;
}
.apple a{
    color: white;
    text-decoration: none;
    vertical-align: middle;
    font-size: 1.3rem;
    font-weight: bold;
}

@media screen and (min-width:768px)
{
    .header-bottom{
        padding-bottom:3em;
    }
   .row-application{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;

   } 
  .col-application{
    width: calc(100% / 3) ;
    margin-bottom: 2rem;
  }
  .col-application.large{
    width: calc((100% / 3) * 2);
    padding-right: 1rem;
    
  }
  .card.large{
    text-align: left;
   
  }
 
  .col-application.middle{
    padding-left: 1rem;
    padding-right: 1rem;
  }
 .right-side{align-self: flex-end;}
  

}
@media screen and (min-width:992px){
    .container.w70{
        width: 70%;
        margin: 0 auto;
    }
    .left-side{
        display: inline-block;
        width: 50%;
    }
    .right-side{
        width: 48%;
        padding-left: 1em;
    }
    .apple{
        margin-bottom: 3rem;
    }
    .card.large{
        position: relative;
    }
    .right-side{
        position: absolute;
        bottom: 0;
        right: 1rem;
    }

}
/* /HEADER */

/* MAIN */

/* SECTION PLANNIng */
.section-purple{
    background-color:#9792E4;
    color: white;
    padding: 3em 0;
}
.card-developement{
    background-color: white;
    font-style: oblique;
    color: black;
    padding: 1.5em 1em;
    border-radius: 30px;
}
.card-developement i{
    background-color: #9792E4;
    color: black;
    padding: 1em;
    border-radius: 50%;
    position: relative;
    left: 44%;
    margin-top: 2rem;
    margin-bottom: 1rem;

    }
@media screen and (min-width:768px)
{
    .section-purple h2{
        font-size: 3rem;
    }
}
@media screen and (min-width:992px)
{
    .row-planning{
        display: flex;
        align-items: end;
    }
    .card-developement{
        margin-left:3rem
    }
}

/* SECTION TESTIMONIALS */
.partners{
    padding-top: 2rem;
    padding-bottom: 3rem;
    text-align: center;
}
.card-testimonials{
    background-color:#9792E4;
    border-radius: 20px;
    text-align: center;
    padding: 2em 1em;
    color: white;


}
.img-testimonials{
    width: 40vw;
    height: 40vw;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.img-testimonials img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.partners h2{
    color: #9792E4;
    font-size: 2rem;
}
@media screen and (min-width:768px)
{

 .img-testimonials{
    width:15vw;
    height:15vw;
 }
 .comment-testimonials{
    width: 80%;
 }
   
 .card-testimonials{
    display: flex;
    align-items: center;
    padding: 2em 1em;
 }
}

/* SECTION BENEFITS */
.section-benefits{
    text-align: center;
}
.col-benefits{
    padding: 2em 1em;
    background-color: white;
    color: black;
    border-radius: 20px;
    text-align: left;
    margin-top: 1rem;
  
}
.section-benefits .number,h3{
    color:#9792E4;
}
.number{
    font-size: 3rem;
    font-weight: bold;
}
.col-benefits a{display: inline-block;
    padding: .5em 2.5em;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    background-color: #9792E4;

}

@media screen and (min-width:768px)
{
    .row-benefits{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .col-benefits{
        width: calc((100% / 2) - (2rem / 2 ));
    
   
    }
}
@media screen and (min-width:992px)
{
    .col-benefits{
        width: calc((100% / 3) - (4rem / 3));
    }
}

/* SECTION ABOUT US */
.about-us{
    padding: 3em 1em;
}
.img-about-us{
margin-left: 0;
}
.row-about-us{
    line-height: 2rem;
}

.card-about-us h2{
    color:#9792E4;
    font-size: 3rem;
}

.right p{
    color:#9792E4;
    font-weight: bold;
    font-size: 1.5rem;
}
.col-about-us.right a{
    background-color: #9792E4;
    text-decoration: none;
    color: white;
    padding: .2em .5em;
    border-radius: 20px;

}
.right{
    position: relative;
}
.img-about-us i{
    color:#9792E4 ;
    position: absolute;
    top: 0;
    left: 30vw;
    font-size: 3rem;
}
.col-about-us.right a::before{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f007";
    margin: 0 .3rem;
  
}
@media screen and (min-width:768px)
{
    .row-about-us{
        display: flex;
    }
    .row-about-us .left{
        width: 70%;
        padding-right: 2rem;
    }
    .row-about-us .right{
        width: 30%;
    }
    .img-about-us i{
        position:absolute;
        top: 0;
        left: 11vw;
    }
   
}

/* SECTION GET STARTEd */
.container-small{
    text-align: center;
}
.tasparent{
    color:#D5D4F4;
}
.font-large{
    font-size: 3rem;
    color: yellow;
}
.button-large{
    display: inline-block;
    padding: 1em 5em;
    border-radius: 25px;
    text-decoration: none;
    background-color: white;
    font-weight: bold;
    color: #9792E4;
    margin-bottom: 1rem;
    }
@media screen and (min-width:768px)
{
    .container-small{
        width: 60%;
        margin: 0 auto;
    }
}
@media screen and ( min-width:992px)
{
    .container-small{
        width: 50%;
    }
}

/* FOOTER */
footer{
    padding:3rem;
    background-color: black;
    color: white;
}
footer p{
    margin-bottom: 4rem;
}
footer a{
    color: #9792E4;
}